
  
  /* Uncomment below if images are way too big.
  Selects all image tags and makes them 500px;
   */
  /*img {*/
  /*  width: 500px;*/
  /*}*/
  
  
.main-content{
  width:100%;
}
  
  #opener{
    display: flex;
    align-items: stretch-center;
    flex-flow: row wrap; 
    justify-content: space-around;
    justify-content: center;
    padding-top: 2.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    background-color: #F3F3F3;
  
  }

  #newsbar{

    padding-top: 2.5%;
    /* padding-right: -5%;
    padding-left: 5%; */
    padding-bottom: 2.5%;
    background-color: #C0C0C0;
    justify-content: space-around;
  }

  .newsbar-wrapper{ 
    overflow: scroll;
  }

  .newsbar-wrapper::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
  }

 


  #main-wrapper{
    display: flex;
    align-items: stretch-center;
    flex-flow: column; 


    padding-top: 2.5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2.5%;
    background-color: #F3F3F3;

    width: 90%;

  }

 


  .news-box{
    /* display: flex; */
    /* align-items: space-around;
    justify-items: space-around; */
    /* flex-grow:initial; */
    background-color: #F3F3F3;
    margin: 2%;
    padding: 1%;
    /* width: 500px; */
    /* height: 260px; */
    border-radius: .5vw;
    box-shadow: 2px 2px #909090;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width:max(10%, 30vmax)
  }

  .info-box{
    /* display: flex; */
    /* align-items: space-around;
    justify-items: space-around; */
    /* flex-grow:initial; */
    background-color: #C0C0C0;
    margin: 2%;
    padding: 1%;
    /* width: 500px; */
    /* height: 260px; */
    border-radius: .5vw;
    box-shadow: 2px 2px #909090;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;

  }

  #about-box{
    /* display: flex; */
    /* align-items: space-around;
    justify-items: space-around; */
    /* flex-grow:initial; */
    background-color: #C0C0C0;
    margin: 1%;
    padding: 1%;
    /* width: 500px; */
    /* height: 260px; */
    border-radius: .5vw;
    box-shadow: 2px 2px #909090;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
  }

  #outergrid{
    display: flex; 
        flex-flow:wrap; 
        align-items: stretch; 
        justify-content: space-between;
    }
  
  @media (min-width: 600px) {
    .info-box {
      width: auto;
    }
    /* #about-box{
    
    } */
    #main-wrapper {
        flex: row;
    }
    #outergrid {
        flex-flow: row;
    }
    .lang-button{
      width: min(20%, 4vw);
    }
  }

  .center {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    /* transform: translate(0, -50%); */
  }
  
  img {
    justify-content: space-around;
    /* width:  85%; */
    /* height: 700px; */
    object-fit:scale-down;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%
  }


  
  h1{
    font-size:  max(2vmax, 12pt);
    font-weight:400;
    justify-content:center;
    color: #1E1E1E;
    margin: auto;
    margin-top: 12%;
    justify-content: baseline;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  h2{
    font-size:  max(3vmax, 16pt);
    font-weight:400;
    justify-content:center;
    color: #1E1E1E;
    margin: auto;
    margin-top: 12%;
    justify-content: baseline;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .newshead{
    font-size: max(1.5vmax, 12pt);
    
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 10px; 
  }

  .newssubtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin: 10px; 
  }


  .button{
    
    min-width: 3vw;
    max-width: 30vw;
    height: auto;
    min-height: 3vw;
    max-height: 10vw;
    padding:2.5%;
    background-color: #404040;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(1.4vw, 10pt);
    font-weight: bold;
    border-radius: .5vw;
    box-shadow: 2px 2px #909090;
    margin: 5%;
    display: flex;
    align-items: center; 
    justify-content: center;
    float: right;
    justify-self:end;
    margin-left: auto;
    color: #f0f0f0;

  }


  .lang-button{
    
    min-width: 3vw;
    max-width: 30vw;
    height: auto;
    min-height: 3vw;
    max-height: 10vw;
    background-color: #404040;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(1.4vw, 10pt);
    font-weight: bold;
    border-radius: .5vw;
    box-shadow: 2px 2px #909090;
    display: flex;
    align-items: center; 
    justify-content: center;
    float: right;
    justify-self:end;
    margin-left: auto;
    color: #f0f0f0;
    padding: 2%; 
    margin:1%; 
    float:none; 
    width:  60%;
  }
  
  .button:hover{
    background-color: #2C2C2C;
  }

  .float:hover{
    background-color: #2C2C2C;
  }

  .news-button:hover{
    background-color: #2C2C2C;
    color: #FFFFFF;
  }


  .button:active{
    background-color: #131313;
    color: #b9b9b9;
  }

  .float:active{
    background-color: #131313;
    color: #b9b9b9;
  }
  .news-button:active{
    background-color: #131313;
    color: #b9b9b9;
  }


  /* .float code inspired by this source: https://codepen.io/androidcss/pen/yOopGp */
  .float{

    position:absolute;
    width:6vw;
    height:6vw;

    /* top:50vh; */
      
    background-color: #404040;
    color:#FFFFFF;
    border-radius:30vw;
    text-align:center;
    box-shadow: 2px 2px #909090;
  
  }
  

  
  
  .news-button{
    /* width: 14vw; */

    height: auto;
   
    color: #f0f0f0;
    background-color: #404040;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(1.4vw, 10pt);
    font-weight: bold;
    border-radius: .5vw;
    box-shadow: 2px 2px #909090;
    margin: 2% 10% 2% 10% ;
    /* display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center; */ 
    vertical-align: middle;
    padding: 5%;

  }
  
  
  h3{
    color: #1E1E1E;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  h6{
    color: #1E1E1E;
    font-size: max(5vmax, 12pt);
    margin: auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  p {
    color: #1E1E1E;
    font-size: max(1.45vmax, 10pt);
    margin-bottom: 1em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  li {
    color: #1E1E1E;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  ol{
    color: #1E1E1E;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

 
  .column-two {
    float: left;
    width: 50%;
    /* padding: 30px; */
  }
  
  .column-three {
    float: left;
    width: 27%;
  
    padding: 3%;
  }

  .column-twenty-percent {
    display: flex;
    float: right;
    width: 20%;
    /* padding: 30px; */
  }
  .column-eighty-percent {
    display: flex;
    float: left;
    justify-content: margin-bottom;
    width: 60%;
    /* padding: 30px; */
  }
  
  .break{
    padding-bottom: 200px;
    /* background-color: blue; */
  }
  
  .header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #column-wrapper{
    flex:auto
    
  }
  
  .buffer{
    scroll-padding: 100%;
  }
  
  #comparison{ 
    display: flex;
    /* align-items: stretch-center; */
    flex-flow: row wrap; 
    /* justify-content: space-around; */
    padding-top: 2.5%; 
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 2.5%;
  }

  .button-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
  }


    .newsbar-wrapper{ 
        overflow: scroll;
        
    }

    .newsbar-wrapper::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
  
     

    /* tried to figure out how to hide the scrollbar from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func: */
    /* Hide scrollbar for Chrome, Safari and Opera */
.newsbarwrapper::-webkit-scrollbar {
    display: none;
    
}

/* Hide scrollbar for IE, Edge and Firefox */
.newsbarwrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}